#checkoutBtn {
	background-color:#1b1d25;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid rgb(5, 15, 36);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #213fb8;
}
#checkoutBtn:hover {
	background-color:#16102e;
}
#checkoutBtn:active {
	position:relative;
	top:1px;
}